.header_name {
  font-size: 6rem;
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

.sixtyfour {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}

.shopping-cart {
  display: flex;
  border: solid 1px black;
  margin-left: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-cart-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 16px;
}
