.header_name {
  font-size: 6rem;
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

.sixtyfour {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}

.productIcon {
  padding: 1rem;
  margin: 1rem;
  width: 40vw;
  border: solid 1px black;
  border-radius: 0.5rem;
}
