.header_name {
  font-size: 6rem;
}

* {
  font-family: "Inter", "Poppins", "Rubik";
}

h2 {
  font-size: 32px;
}
.productIcon {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  width: 35vw;
  border: solid 1px black;
  border-radius: 0.5rem;
}

.productIcon-left {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.productIcon-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productIcon_btn {
  margin: 1rem;
  height: 2rem;
  width: 6rem;
  border: 0px;
  border-radius: 0.5rem;
  background-color: rgb(196, 193, 193);
}

.productIcon-stock {
  color: red;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-cart-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 16px;
}

/* Shopping Cart Page */

.shopping-page {
  margin: 0 160px;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 10px;
  padding: 0px;
}

.cart-headers {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100px;
}

.cartProduct-item {
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.293);
  border-radius: 10px;
  padding: 10px;
}

ol {
  list-style-type: none;
}

.cart-item-details {
}

.cart-product-numbers {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}

.cart-item-quantity {
  border: none;
  width: 50px;
  text-align: center;
}

.cart-button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 30px;
  min-width: 30px;
  padding: 0 5px;
  border: 1px solid rgba(128, 128, 128, 0.356);
  border-radius: 5px;
}

.cart-button:hover {
  background-color: rgb(224, 224, 224);
}

.cart-total-item-cost {
  width: 30px;
  padding: 0 25px;
}

.divider {
  height: 1px;
  margin-top: 50px;
  background-color: grey;
}

.totals-row {
  display: flex;
  justify-content: space-between;
}
/* */

.text-normal {
  font-size: 24px;
}

.color-grey {
  color: rgb(90, 90, 90);
}

button {
  cursor: pointer;
}
